.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  ul {
    display: flex;
    gap: 20px;
    li {
     .link{
        text-decoration: none;
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
     }.link:hover{
        color: orange;
     }
    }
  }
}
